.page-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--text-primary);
  text-shadow: 0 0 10px rgba(255, 143, 63, 0.5);
  position: relative;
  z-index: 2;
}

.news-section {
  padding: 2rem;
}

.news-grid {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.news-principal {
  flex: 2;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.news-principal img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 10000;
}

.news-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.news-secondary {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  min-height: 0;
}

.news-secondary img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.news-content {
  padding: 1rem;
}

.news-tag {
  display: inline-block;
  background: #000000;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 999px;
  padding: 0.3rem 0.8rem;
  margin-bottom: 0.5rem;
}

.news-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.news-description {
  font-size: 0.9rem;
  color: #fff;
}

.news-principal,
.news-secondary {
      background: linear-gradient(145deg, rgba(30, 30, 40, 0.7), rgba(20, 20, 30, 0.8));
  z-index: 5000;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-principal:hover,
.news-secondary:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 25px rgba(128, 128, 128, 0.2);
}

.news-title,
.news-description {
  color: white;
  transition: color 0.3s ease;
}

.news-principal:hover .news-title,
.news-principal:hover .news-description,
.news-principal:hover .news-tag,
.news-secondary:hover .news-title,
.news-secondary:hover .news-description,
.news-secondary:hover .news-tag {

  color: var(--primary-color);
}
